/*--GENERAL--*/
/*
	blue: #3c5a99
*/
*{
	font-size:1.18em;
}
body{
	margin:0;
	padding:0;
	font-family:"segoe ui";
	background:#f2f5fa;
	color:#37373c;
}


/*--HEADER--*/
#nav-bar{
	height:135px;
	background:#3c5a99 url(https://svgshare.com/i/P99.svg) center no-repeat;
}
#logo{
	margin-top:90px;
	width:155px;
	height:155px;
	border-radius:36px;
	background:url("https://svgshare.com/i/PC5.svg");
	background-size:155px 155px;
}
#slogan{
	margin-top:50px;
	width:680px;
	font-size:1.3em;
	color:#999;
}

/*--MAIN--*/
form{
	padding:80px 50px 40px;
	display:flex;
	flex-direction:column;
	align-items:stretch;
}
.inp{
	padding:30px 50px;
	outline:none;
	border:solid 2px #ddd;
	color:#37373c;
}
.inp::placeholder{
	color:#999;
	font-size:0.9em;
}
#username{
	border-radius:18px 18px 0 0;
}
#password{
	border-top:0;
	border-radius:0 0 18px 18px;
}
#login{
	padding:28px 0 29px;
	border-radius:18px;
	background:#1878f3;
	color:#fff;
	font-weight:500;
	cursor:pointer;
	margin-top:35px;
	transition:0.1s;
}
#login.active{
	background:#1878f399;
}
#skip a, #forgot a{
	color:inherit;
	text-decoration:none;
	padding:0 20px;
	display:inline-block;
	font-size:0.9em;
}
#forgot a{
	margin:20px 0 30px;
	color:#1878f3;
}

/*--FOOTER--*/
#languages{
	display:flex;
	justify-content:center;
}
ul{
	list-style:none;
	flex-basis:50%;
}
li a{
	color:#3c65bc;
	text-decoration:none;
	padding:0 10px;
	display:inline-block;
	margin:10px 0;
	font-size:0.9em;
}
#current-lang a{
	color:inherit;
}
li:not(#current-lang) a:hover{
	text-decoration:underline;
}
#more-lang{
	padding:3px 28px 5px 28px;
	border:solid 2px #999;
	display:inline-block;
	cursor:pointer;
	border-radius:18px;
	background:#fbfbfb;
	font-weight:800;
	color:#444;
}
#copyright{
	margin-top:15px;
	font-size:1.4em;
}